body{
    width: 80%;
    margin: 0 auto;
    font-family: tahoma;
}
.logo{
    width: 100%;
    height: 130px;
    position: relative;
}
.logo img{
    position: absolute;
    top: 30px;
    right: 40%;
}
ul{
    list-style: none;
    background-color: rgb(7, 7, 65);
}
li{
    display: inline-block;
}
ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 5px;
}
ul li a:hover{
    text-decoration: underline;
}
.form{
    margin-left: 300px;
}
input{
    width: 200px;
}
.form button{
    border: 1px solid white;
    background-color: red;
    color: white;
}
.banner{
    width: 100%;
    height: 290px;
}
.banner img{
    width: 100%;
    margin-top: -10px;
}
h3{
    color:  rgb(7, 7, 65);
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sanpham{
    width: 28%;
    border: 1px solid rgb(185, 182, 182);
    padding: 5px;
}
.sanpham img{
    width: 90%;
}
.sanpham a{
    text-decoration: none;
    color:rgb(7, 7, 65);
}
.sanpham a:hover{
    text-decoration: underline;
}
span{
    font-weight: bold;
    color: red;
    font-size: large;
}
del{
    color: rgb(7, 7, 65);
    font-weight: bold;
    font-size: small;
}
.sanpham button{
    padding: 10px 30px;
    background-color: rgb(3, 28, 3) ;
    border: none;
    color: white;
    margin: 5px;
}
footer{
    width: 100%;
    color: white;
    background-color: rgb(7, 7, 65);
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 10px;
}
