.form{
    margin: 10px 0;
}
.control{
    width: 98%;
    padding: 5px;
    outline: none;
    border-radius: 3px;
}
.control label {
    font-weight: bold;
    font-variant: small-caps;
}
.control:focus{
    background-color: yellow;
    box-shadow: 0 0 3px red;
    border: 1px solid yellow;
}
.button {
    padding: 8px 30px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
    color: orangered;
    box-shadow: 0 0 20px grey;

}
.button:hover {
    color: blue;
    box-shadow: 0 0 20px orangered;

}
.button:disabled{
    color: darkgray;
    box-shadow: 0 0 20px gray;
}
body{
    width: 30%;
    margin: 0 auto;
}
form{
    width: 355px;
    height: 550px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 5px;
}