.doan1{
    color: red;
}
.doan2{
    color: blue;
}
.doan3{
    color: green;
}
strong{
    color: brown;
}
.noiDung{
    text-align: center;
}
a{
    font-variant: small-caps;
    text-decoration: none;
    color: blue;
}
a:hover{
    color: red;
    text-decoration: underline;
}