.colume{
    float: left;
}
.Mau1{
    border: 1px solid rgb(251, 160, 75);
    width: 250px;
    height: 400px;
    margin-right: 20px;
    padding: 25px;
    text-align: left;
}
.Mau{
    border: 1px solid rgb(251, 160, 75);
    width: 550px;
    height: 165px;
    padding: 25px;
    margin-bottom: 19px;
    
}
img{
    width: 260px;
    margin-left: -20px;
}
h3{
    color: rgb(255, 94, 0);
    font-weight: bold;  
}
