.container {
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#banner img{
    height: 250px;
    width: 100%;
}
.menuleft {
    float: left;
    height: 770px;
    width: 25%;
    background-color: rgb(19, 19, 146);
}
.menuleft>ul>li>a{
    font-size: 18px;
    text-decoration: none;
    line-height: 45px;
    color: white;
    font-weight: bold;
}

.menuleft>ul>li{
    list-style-type: none;
}
.menuright {
    float: left;
    height: 750px;
    width: 75%;
    background-color: aqua;
    margin-top: -15px;
}
.vmenu {
    height: 50px;
    width: 99%;
    background-color: rgb(19, 19, 146);
    margin-left: 5px;
    text-align: center;
    line-height: 50px;
}
.vmenu>ul>li {
    display: inline-block;
}
.vmenu>ul>li>a {
    font-size:20px;
    color:aliceblue;
    margin: 20px;
    text-decoration: none;
}
.vmenu>ul>li>a:hover {
    color:red;
}





article {
    height:700px;
}

.form {
    margin-left: 100px;
    width: 100%;
    height: 500px;
}
.box{
    width: 80%;
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: space-between;
}
.textthongtin{
    width: 25%;

}
.textthongtin> p{
    font-weight: bold;
}
.onhap{
    width: 30%;
 
}
.onhap>input{
    height: 20px;
    margin-top: 10px;
    width: 180px;
}
.oloi{
    margin-left: 20px;
    width: 45%;
  
}
#error1 {
    height: 5%;

}
#error2 {
    height: 5%;
    
    margin-top: -2px;
}
#error3{
    height: 5%;
    
    margin-top: -2px;
}

#error4 {
    height: 5%;
   

}
#error5 {
    height: 5%;
    

}
#error6 {
    height: 5%;
   
 
}
#error7 {
    height: 5%;
    

}
#error8 {
    height: 5%;
    

}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -20px;
}
.button>button{
    height: 30px;
    width: 80px;
}
#btn2{
    margin-left: 20px;
}
.foo{
    height: 120px;
    width: 100%;
    background-color:gray;
    margin-top: -141px;
    text-align: center;
    align-items: center;
}