body{
    width: 80%;
    margin: 0 auto;
}
header{
    background-image: url('../images/de2\ \(1\).gif');
    background-size: 100% 100%;
    height: 400px;
}
nav{
    width: 100%;
    height: 45px;
    margin-top: -13px;
    background-color: rgb(117, 22, 70);
}
.Link{
    list-style: none;
    text-align: center;
}
.Link > li{
    display: inline-block;
}
.Link > li > a{
    display: block;
    color: white;
    line-height: 45px;
    padding: 0px 20px;
}
.Link > li > a:hover {
    display: block;
    color: black;
    background-color: darkmagenta;
}